In [141]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import csv
import numpy as np
import requests

In [142]:
soup = BeautifulSoup(open('..\data\mtr.xml', 'rb'), 'xml')

In [150]:
mtrlist = []
for i in range(len(soup.find_all('record'))):
    contain = soup.find_all('record')[i]
    Line = contain.Line.contents[0]
    StationCode = contain.StationCode.contents[0]
    EnglishName = contain.EnglishName.contents[0]
    Sequence = contain.Sequence.contents[0]
    string = str(contain)
    Lat = re.findall('\S\S°\S\S′\S\S″N', string)
    Long = re.findall('\S\S\S°\S\S′\S\S″E', string)
    #transfer the format of coordinates
    a = int(Lat[0].split('°')[0])
    b = int(Lat[0].split('°')[1].split('′')[0])
    c = int(Lat[0].split('°')[1].split('′')[1].split('″')[0])
    Latitude = a + b/60 + c/3600
    x = int(Long[0].split('°')[0])
    y = int(Long[0].split('°')[1].split('′')[0])
    z = int(Long[0].split('°')[1].split('′')[1].split('″')[0])
    Longitude = x + y/60 + z/3600 
    mtr = [Line, StationCode, EnglishName, Sequence, Latitude, Longitude]
    mtrlist.append(mtr)

data = pd.DataFrame(mtrlist, columns = ['Line',  'StationCode', 'EnglishName', 'Sequence', 'Latitude', 'Longitude'])
data.to_csv(r'../data/MTR.csv', encoding='utf-8', index=False)
data.iloc[0:5]

              Line StationCode     EnglishName Sequence   Latitude   Longitude
0  Airport Express         AWE  AsiaWorld-Expo        1  22.321667  113.941111
1  Airport Express         AIR         Airport        2  22.316111  113.936667
2  Airport Express         TSY        Tsing Yi        3  22.358333  114.106944
3  Airport Express         KOW         Kowloon        4  22.305000  114.161389
4  Airport Express         HOK       Hong Kong        5  22.285000  114.158056